################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WinFormsKlinkerCounter/FileContentIndex/a3c198e3-63c8-498b-8926-3d1b67dc0626.vsidx
*.vsidx
